body[data-theme="dark"] {
  .viewToggle {
    background: var(--900);
    span {
      color: var(-400);
    }
  }

  .markdown {
    &--input {
      border-color: var(--600);
    }
    textarea {
      background: var(--1000);
      color: var(--400);
    }
  }
}
