body[data-theme="dark"] {
  .viewToggle {
    background: var(--900);
    span {
      color: var(-400);
    }
  }

  .markdown {
    &--input {
      border-color: var(--600);
    }
    textarea,
    &__content {
      background: var(--1000) !important;
      color: var(--400);
    }

    &__content {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      code {
        color: var(--100);
      }

      p,
      li {
        color: var(--400);
      }
    }
    &__blockquote,
    &__codeblock {
      background: var(--800);
      color: var(--100);
    }
  }

  .deleteDocModal {
    form {
      background: var(--900);
      h1 {
        color: var(--100);
      }

      p {
        color: var(--400);
      }
    }
  }

  @media (min-width: $md) {
    /* Track */
    ::-webkit-scrollbar-track {
      background: var(--1000);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: var(--700);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: var(--500);
    }
  }
}
