.nav {
  background: var(--800);
  display: flex;
  align-items: center;
  gap: 24px;
  height: 56px;
  padding-right: 8px;

  &__toggler {
    height: 100%;
    aspect-ratio: 1/1;
    background: var(--700);
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 22px;
      height: 22px;
      object-fit: contain;
    }
  }

  &__logo {
    display: none;
  }

  form {
    flex: 1;
    display: flex;
    align-items: center;
  }

  &__file-name {
    display: flex;
    gap: 15px;
    align-items: center;
    flex: 1;

    > div {
      display: flex;
      flex-direction: column;
      gap: 3px;
      span {
        display: none;
      }

      > div {
        &::after {
          content: ".md";
          color: var(--100);
          font-size: 15px;
        }

        input {
          color: var(--100);
          font-size: 15px;
          font-weight: 400;
          background: none;
          border: none;
          padding: 0;
          border-bottom: 1px solid transparent;
          margin-bottom: -1px;
          caret-color: var(--orange);
          &:focus {
            outline: none;
            border-color: var(--100);
          }
        }
      }
    }
  }
  &__cta {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__delete {
    &:disabled {
      cursor: not-allowed;
      opacity: 0.33;
    }
  }

  &__save {
    background: var(--orange);
    height: 40px;
    width: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: $md) {
  .nav {
    height: 72px;
    padding-right: 16px;

    &__toggler {
      &:hover {
        background: var(--orange);
      }

      img {
        width: 28px;
        height: 28px;
      }
    }

    &__save {
      width: auto;
      padding: 0 16px;
      gap: 8px;

      &:hover {
        background: var(--orange-hover);
      }

      &::after {
        content: "Save Changes";
        color: var(--100);
        line-height: 1;
        font-size: 15px;
      }
    }

    &__logo {
      display: flex;
      align-items: center;
      padding-right: 24px;
      border-right: 1px solid var(--600);
      height: 40px;
    }

    &__file-name {
      > div {
        span {
          font-size: 13px;
          font-weight: 300;
          color: var(--500);
          display: block;
        }
      }
    }
  }
}
