.notifier {
  position: fixed;
  background: var(--100);

  color: var(--800);
  background: #a8ffa8;
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  animation: 0.4s notifier-animation ease;
  padding: 12px;
  border-radius: 6px;
  font-weight: 400;

  @keyframes notifier-animation {
    0% {
      opacity: 0;
      transform: translate(-50%, -15px);
    }

    100% {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
}
