.notifier {
  position: fixed;
  background: lightgreen;
  color: var(-700);
  top: 15px;
  left: 50%;
  transform: translate(-50%, 0);
  animation: 0.4s notifier-animation ease;
  padding: 12px;
  border-radius: 6px;
  font-weight: 500;
  //   border-bottom: 4px solid green;

  @keyframes notifier-animation {
    0% {
      opacity: 0;
      transform: translate(-50%, -15px);
    }

    100% {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
}
