.viewToggle {
  background: var(--200);
  height: 42px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    color: var(--500);
    letter-spacing: 2px;
    font-weight: 500;
  }
}

.show-preview {
  .markdown--input {
    display: none !important;
  }
}

.hide-preview {
  .markdown--output {
    display: none !important;
  }
}

@media (min-width: $md) {
  .show-preview {
    .markdown {
      &--input {
        display: none !important;
      }

      &--output {
        display: flex !important;
      }
    }
  }

  .hide-preview {
    .markdown {
      &--input,
      &--output {
        display: flex !important;
      }
    }
  }
}
